@import '~Scss/config';

$chat-message-br: 9px;

.chat-message {
	max-width: 65%;
	padding: em(10px);

	color: map-get($colors-text, 'chat-left');

	background-color: #ede5f2;
	border-radius: $chat-message-br $chat-message-br $chat-message-br 5px;

	&__text {
		font-size: em(13.5px);
	}
}

.chat-message--incoming {
	align-self: flex-end;

	color: map-get($colors-text, 'chat-right');

	background-color: #fff;

	border-radius: $chat-message-br $chat-message-br 5px $chat-message-br;

}
